* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F5F8FA;
    color: #14171A;
    height: 100vh;
    display: block;
}