<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'feed/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'feed/css/login.css' %}">
</head>
<body>

    <div class="login-page">
        <div class="login-box">
            <h2>Crie uma conta</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
    
    <script src="{% static 'feed/js/script.js' %}"></script>
</body>
</html>
